@font-face {
    font-family: "etecoli";
    src: url(fontes/ARCHITRN.TTF);
}
@font-face {
    font-family: "etecoli2";
    src: url(fontes/frscript.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "etecoli";
    background-image: url(img/hbd-500-4-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
}
header {
    padding: 5px 50px;
    margin-bottom: 5px;
    background-color: rgba(194, 64, 136, 0.5);
}
 h1, h2 {
    margin-bottom: 15px;
    color: rgba(255, 255, 0, 0.952);
}
header img {
    float: left;
    margin-right: 20px;
}
header nav {
    text-align: right;
}
header nav a, main p a {
    text-decoration: none;
    background-color: rgba(255, 136, 0, 0.521);
    color: white;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    transition: background-color 1500ms;
}
header nav a:hover, main p a:hover {
    background-color: rgba(255, 255, 255, 0.432);
    color: rgb(9, 25, 247);
}
header nav a:active {
    text-decoration: underline;
    color: yellow;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 0px 10px;
    color: rgb(9, 25, 247); 
    background-color: rgba(37, 2, 21, 0.178);
}
main section p {
    text-indent: 20px;
    font-weight: 400;
}

main section h1 {
    margin-top: 20px;
}
main section img {
    margin: 10px;
    float: left;
}
.limpeza {
    clear: both;
}
main section q {
    font-family: "etecoli2";
    font-size: 1.4em;
    font-weight: 400;
}
main aside h2 {
    background-color: rgba(194, 64, 136, 0.5);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
main aside {
    border: 1px solid;
    border-radius: 10px 10px 0px 0px;    
    margin: 10px;
}
main aside p {
    padding-left: 45px;
    font-weight: 600;
}
#colunaesquerda {
    float: left;
    width: 50%;
    
}
#colunadireita {
    float: right;
    width: 50%;
}
cite {
    padding-left: 10px;
}
#recuperar {
    clear: both;
}
#centro {
    text-align: center;
}
footer {
    background-color: rgba(194, 64, 136, 0.5);
    color: rgba(255, 255, 0, 0.952);
    text-align: center;
    margin-top: 10px;
}
@media (max-width: 720px) {
    main p {
        font-size: 1em;
    }
    header img {
        display: none;
    }
    header nav {
        text-align: left;
    }
    main section img {
        float: none;
        display: block;
        margin: 0px auto;
    }
    #colunadireita, #colunaesquerda {
        float: none;
        width: 100%;
    }
    #colunadireita p, #colunaesquerda p {
        padding-left: 25px;
        
    }
}